{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block head_css_after %}
    <title>Buat Polling Biasa - BMNC</title>
{% endblock %}

{% block content %}
<div class="py-5" style="background-image: url({% static "general/bg-regis.jpg" %});">
    <div class="container">
        <i>
            {% for message in messages %}
            <label style="position:relative; right:0px; text-align: right; display: block;" class="text-danger">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                {{ message }}
            </label><br>
            {% endfor %}
        </i>
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'polling_biasa:polling_biasa' %}" method="POST" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Deskripsi</label>
                        <input type="text" name = "Deskripsi" class="form-control" placeholder="Deskripsi"> </div>
                    <div class="form-group">
                        <label>Waktu Mulai</label>
                        <input type="date" name="Mulai" class="form-control"> </div>
                    <div class="form-group">
                        <label>Waktu Selesai</label>
                        <input type="date" name = "Selesai" class="form-control"> </div>
                    <div class="form-group">
                        <label>Apa itu Polling?</label>
                        <input type="text" name="" class="form-control" placeholder="jawaban"> </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}