{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block head_css_after %}
    <title>Buat Berita - BMNC</title>
{% endblock %}

{% block content %}
  <div class="py-5 filter-light" style="background-image: url('{% static "/general/bg-regis.jpg" %}');">
    <div class="container">
        <i>
            {% for message in messages %}
            <label style="position:relative; right:0px; text-align: right; display: block;" class="text-danger">
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                {{ message }}
            </label><br>
            {% endfor %}
        </i>
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'buat_berita:buat_berita' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Judul</label>
                        <label for="exampleInputEmail1" class="text-success">*</label>
                        <input type="text" name="Judul" class="form-control" placeholder="Judul"> </div>
                    <div class="form-group">
                        <label>Url</label>
                        <label for="exampleInputEmail1" class="text-success">*</label>
                        <input type="url" name="Url" class="form-control" placeholder="Url"> </div>
                    <div class="form-group">
                        <label>Topik</label>
                        <label for="exampleInputEmail1" class="text-success">*</label>
                        <input type="text" name="Topik" class="form-control" placeholder="Topik"> </div>
                    <div class="form-group">
                        <label>Jumlah Kata</label>
                        <label for="exampleInputEmail1" class="text-success">*</label>
                        <input type="text" name="Jumlah Kata" class="form-control" placeholder="Jumlah Kata"> </div>
                    <div class="form-group">
                        <label>Tag</label>
                        <label for="exampleInputEmail1" class="text-success">*</label>
                        <input type="text" name="Tag" class="form-control" placeholder="Tag"> </div>
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
