.container2 {
    display: grid;
    grid-template-columns: 15% auto 15%;
}

.content {
	grid-column: 2 / 3;
	background: white;
    border-style: solid;
    border-color: #BBB;
    border-width: 0.5px;
    padding: 1em;
}

.horizontal {
    display: inline;
}

.name-holder {
    font-size: 3em;
}

.username-holder {
    font-size: 1.4em;
    font-color: #444;
}

.email-holder {
    font-size: 1.2em;
}

.profile-holder {
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
}

.profile-item1 {
    grid-column: 1/2;
}

.profile-data1 {
    grid-column: 2/3;
}

.profile-item2 {
    grid-column: 3/4;
}

.profile-data2 {
    grid-column: 4/5;
}

button.daftar-artikel {
    
  background-color: #20c997;
  border-style: none;
  border-radius: .05em;
  color: black;
}
