.container2 {
    display: grid;
    grid-template-columns: 15% auto 15%;
}

.content {
	grid-column: 2 / 3;
	background: white;
    border-style: solid;
    border-color: #BBB;
    border-width: 0.5px;
    padding: 1em;
}

.horizontal {
    display: inline;
}

.polling-main-title {
    font-size: 2.1em;
}

.polling-container {
    list-style-type: none;
}

.polling-desc {
    font-size: 1.3em;
}

.start-stop {
    font-size: .7em;
    font-color: #444;
}
.polling-title {
    border-bottom-style: double;
    border-bottom-width: .3em;
}

.polling-box {
    width: 100%;
    /* height: 5em; */
    border-style: solid;
    border-color: #BBB;
    border-width: 0.5px;
    border-radius: .3em;
    padding: .5em;
    margin: .2em;
    margin-left: -2.2em;
}
