{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class="py-5" style="background-image: url('{% static "/general/bg-regis.jpg" %}');background-size:cover;background-repeat:space;">
<div class="container">
  <div class="row">
    <div class="align-self-center col-md-6 text-white">
      <h1 class="text-md-left display-3 text-dark text-left">Buat Berita Sekarang! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        <br> </h1>
      <p class="lead" id="regis-subheader">Dan bergabung dengan {{jumlah_narasumber}} narasumber lainnya!</p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body p-5">
          <h3 class="pb-3">Registrasi</h3>
          <i>
            {% for message in messages %}
            <label style="position:relative; right:0px; text-align: right; display: block;" class="text-danger">
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
              {{ message }}
            </label><br>
            {% endfor %}
          </i>
          <form action="{% url 'registrasi:registrasi' %}"" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Jabatan</label>
            <label for="exampleInputEmail1" class="text-success">*</label>
            <select class="custom-control custom-select" id="select-jabatan" name="jabatan" required="">
              <option selected="" value="M">Mahasiswa</option>
              <option value="S">Staf</option>
              <option value="D">Dosen</option>
            </select>
          </div>
          <div class="form-group" id="regis-username">
            <label>Username</label>
            <label for="exampleInputEmail1" class="text-success">*</label>
            <span style="float:right;" ><i style="display:none" class="fas fa-spinner fa-spin"></i><span style="font-size:0.8em" class="text-danger"></span></span>
            <input class="form-control" name="username" required=""> </div>
          <div class="form-group" id="regis-password">
            <label>Kata Sandi</label>
            <label for="exampleInputEmail1" class="text-success">*</label>
            <span style="float:right;" ><span style="font-size:0.8em" class="text-danger"></span></span>
            <input class="form-control" name="password" type="password" required=""> </div>
          <div class="form-group" id="regis-noid">
            <label id="form-label-nomor-id">Nomor Identitas (NPM)</label>
            <label class="text-success" for="exampleInputEmail1">*</label>
            <span style="float:right;" ><i style="display:none" class="fas fa-spinner fa-spin"></i><span style="font-size:0.8em" class="text-danger"></span></span>
            <input class="form-control" type="text" name="nomor-identitas" required=""> </div>
          <div class="form-group">
            <label>Nama</label>
            <label class="text-success" for="exampleInputEmail1">*</label>
            <input class="form-control" name="nama" type="text" required=""> </div>
          <div class="form-group">
            <label>Tempat Lahir</label>
            <label class="text-success" for="exampleInputEmail1">*</label>
            <input type="text" class="form-control" name="tempat-lahir" required=""> </div>
          <div class="form-group" id="regis-tgl-lahir">
            <label>Tanggal Lahir</label>
            <label class="text-success" for="exampleInputEmail1">*</label>
            <span style="float:right;" ><span style="font-size:0.8em" class="text-danger"></span></span>
            <input type="date" class="form-control" name="tanggal-lahir" required=""> </div>
          <div class="form-group">
            <label>Email</label>
            <label class="text-success" for="exampleInputEmail1">*</label>
            <input type="email" class="form-control" name="email" required=""> </div>
          <div class="form-group" id="regis-nohp">
            <label>Nomor HP</label>
            <span style="float:right;" ><span style="font-size:0.8em" class="text-danger"></span></span>
            <input type="text" class="form-control" name="no-hp"> </div>
          <div class="form-group" id="regis-groupstatus">
            <label id="form-status-label">Status Kemahasiswaan</label>
            <label class="text-success" for="exampleInputEmail1">*</label>
            <input type="text" class="form-control" name="status" required=""> </div>
          <div class="form-group" id="regis-id-universitas">
            <label id="form-status-label">ID Universitas</label>
            <select class="custom-control custom-select" id="select-id-univ" name="id-universitas" required="">
              {% for univ in daftar_univ %}
              <option value="{{univ.id}}">{{univ.id}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <i>
              <label style="position:relative; right:0px; text-align: right;
    display: block;" class="text-success">*Dibutuhkan</label>
            </i>
          </div>
          <button type="submit" class="btn mt-2 btn-outline-secondary">Registrasi</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
$("document").ready(function() {
    var validasi_tanggal = function(tanggal) {
        return !isNaN(new Date(tanggal).getTime());
    }

    noid_jabatan_input = $("#regis-noid > input, #select-jabatan");
    
    password_notice = $("#regis-password > span > span");
    password_input = $("#regis-password > input");
    
    jabatan_input = $("#select-jabatan");
    
    username_loading = $("#regis-username > span > i");
    username_notice = $("#regis-username > span > span");
    username_input = $("#regis-username > input");
    
    noid_loading = $("#regis-noid > span > i");
    noid_notice = $("#regis-noid > span > span");
    noid_input = $("#regis-noid > input");
    
    tgl_lahir_notice = $("#regis-tgl-lahir > span > span");
    tgl_lahir_input = $("#regis-tgl-lahir > input");
    
    nohp_notice = $("#regis-nohp > span > span");
    nohp_input = $("#regis-nohp > input");
    
    jabatan_input.on('change', function() {
        label_id = $('#form-label-nomor-id');
        label_text = $('#form-status-label');
        if (this.value == 'M') {
            label_text.text('Status Mahasiswa');
            label_id.text('Nomor Identitas (NPM)');
        } else if (this.value == 'D') {
            label_text.text('Jurusan Dosen');
            label_id.text('Nomor Identitas (NIK)');
        } else if (this.value == 'S') {
            label_text.text('Posisi Staf');
            label_id.text('Nomor Identitas (NIK)');
        }
    });
    
    password_input.change(function () {
        if ($(this).val().length < 8) {
            password_notice.text("Password minimal 8 karakter");
        } else {
            password_notice.text("");
        }
        password_input.get(0).setCustomValidity(password_notice.text());
});
    
    username_input.change(function () {
        console.log($(this).val());
        username = $(this).val().trim();
        $(this).val(username);
        username_loading.show();
        username_notice.text("");        
        $.ajax({
            method: "POST",
            url: '{% url "registrasi:cek_username_ada" %}',
            data: {
                'username': username
            },
            dataType: 'json',
            success: function (response) {
                console.log(response);
                if (response["hasil"] === "true") {
                    username_notice.text("Username sudah ada");
                }
                username_input.get(0).setCustomValidity(username_notice.text());
            },
            complete: function(){
                username_loading.hide();
                username_input.get(0).setCustomValidity(username_notice.text());
            },
        });    
    });
    
    noid_jabatan_input.change(function () {
        console.log(noid_input.val() + " " + jabatan_input.val());
        noid_input.val(noid_input.val().trim());
        noid_notice.text("");
        var awalan_salah = false;
        
        if (noid_input.val().length == 0) {
            awalan_salah = true;
            noid_notice.text("Bagian ini harus diisi");
        } else if (!(/^[0-9]+$/.test(noid_input.val()))) {
            awalan_salah = true;
            noid_notice.text("Nomor identitas harus angka");
        }
        
        if (awalan_salah) {
            noid_input.get(0).setCustomValidity(noid_notice.text());
            return;
        }
        
        noid_loading.show();
        $.ajax({
            method: "POST",
            url: '{% url "registrasi:cek_noid_ada" %}',
            data: {
                'nomor_identitas': noid_input.val(),
                'jabatan': jabatan_input.val()
            },
            dataType: 'json',
            success: function (response) {
                console.log(response);
                if (response["hasil"] === "true") {
                    noid_notice.text("Nomor identitas sudah ada");
                }
                noid_input.get(0).setCustomValidity(noid_notice.text());
            },
            complete: function(){
                noid_input.get(0).setCustomValidity(noid_notice.text());
                noid_loading.hide();
            },
        });
    });
    
    tgl_lahir_input.change(function() {
        tgl_lahir_notice.val("");
        tanggal = $(this).val().trim();
        tgl_lahir_input.val(tanggal);
        if (tanggal.length == 0) {
            tgl_lahir_notice.text("Tanggal harus diisi");
        } else if (!validasi_tanggal(tanggal)) {
            tgl_lahir_notice.text("Tanggal tidak valid");
        }
        tgl_lahir_input.get(0).setCustomValidity(tgl_lahir_notice.text());
    });
    
    nohp_input.change(function() {
        nohp = $(this).val().trim();
        nohp_input.val(nohp);
        console.log(nohp.length);
        
        nohp_notice.text("");
        
        if (nohp.length != 0 && !(/^[0-9]+$/.test(nohp))) {
            nohp_notice.text("Nomor HP harus angka");
        }
        nohp_input.get(0).setCustomValidity(nohp_notice.text());
    });
});  
</script>
{% endblock %}