{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block head_css_after %}
    <link rel="stylesheet" href="{% static "/lihat_polling/style.css" %}">
    <title>Lihat Polling - BMNC</title>
{% endblock %}

{% block content %}
<div class="py-5" style="background-image: url({% static "general/bg-regis.jpg" %});">
<div class="container2">
   <div class="content">
      <div class="polling-main-title">
         Daftar Polling Biasa
      </div>
      Disini anda dapat meilihat daftar polling biasa.
      <br>
      <ul class="polling-container">
         {% for poll in polls %}
         <li class="polling-item">
            <div class="polling-box">
               <div>
                  <div class="polling-title">
                     <div class="polling-desc horizontal">
                        {{ poll.deskripsi }}
                     </div>
                     <div class="start-stop horizontal">
                        <!-- 09:00, 1 Maret 2018 - 21:00, 14 Maret 2018 -->
                        {{ poll.polling_start|date:"Y-m-d" }} - {{ poll.polling_end|date:"Y-m-d" }}
                     </div>
                  </div>
                  <br/>
                  <div style="font-weight: 700">URL : <a href="{{ poll.url }}">{{ poll.url }}</a></div>
                  <br/>
                  <div style="font-weight: 700">Jawaban : </div>
                  <div class="polling-jawaban">
                     {% for respon in poll.respons %}
                     {{ respon.jawaban }} : {{ respon.jumlah_dipilih }} <br/>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>
</div>
{% endblock %}