{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="3;url={% url 'beranda:index' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static "/general/theme.css" %}"> </head>

<body>
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'beranda:index' %}"">
        <img src="{% static "/general/BMNC Logo Putih.svg" %}" width="50" height="50" class="d-inline-block align-top mx-1" alt="">
        <b>&nbsp;Biru Merah News Corporation</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="background-image: url('{% static "/general/bg-regis.jpg" %}');background-size:cover;background-repeat:space;">
    <div class="container">
      <div class="row">
        <div class="align-self-center col-md-6 text-white">
          
          <p class="lead" id="regis-subheader"><br><br>Login berhasil.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6">
          <div class="col-md-12">
            <img class="img-fluid d-block" src="{% static "/general/BMNC Logo.svg" %}" width="120pt"> </div>
          <div class="row"> </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled">
                <a href="{% url 'beranda:index' %}"" class="text-white">Beranda</a>
                <br>
                <a href="#" class="text-white">Tentang Kami</a>
                <br>
                <a href="#" class="text-white">Layanan</a>
                <br> </ul>
            </div>
          </div>
        </div>
        <div class="p-4 col-md-6">
          <h2 class="mb-4">Kontak</h2>
          <p>
            <a href="tel:+62 840 0840 0840" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+62 840 0840 0840</a>
          </p>
          <p>
            <a href="mailto:info@bmnc12.com" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@bmnc12.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/MPqj51wBQSo" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>Fakultas Ilmu Komputer, Universitas Indonesia </a>
            <br> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">Hak Cipta © 2018 BMNC12 dilindungi undang-undang. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    $('#select-jabatan').on('change', function() {
    label_id = $('#form-label-nomor-id');
      if (this.value == 'M') {
        $('#form-status-label').text('Status Mahasiswa');
        $('#regis-groupstatus > input').attr("name", "status-mahasiswa");
        label_id.text('Nomor Identitas (NPM)');
      } else if (this.value == 'D') {
        $('#form-status-label').text('Jurusan Dosen');
        $('#regis-groupstatus > input').attr("name", "jurusan-dosen");
      } else if (this.value == 'S') {
        $('#form-status-label').text('Posisi Staf');
        $('#regis-groupstatus > input').attr("name", "posisi-staf");
      }
    })
  </script>
</body>

</html>