{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <div class="py-5" style="background-image: url({% static "general/bg-regis.jpg" %});">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary" id="login-card">
            <div class="card-body">
              <h1 class="mb-4">Masuk</h1>
              {% for message in messages %}
                <label style="position:relative; right:0px; text-align: right; display: block;" class="text-danger">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                    {{ message }}
                </label><br>
                {% endfor %}
              <form action="{% url 'login:otologin' %}" method="POST">
                    {% csrf_token %}
                <div class="form-group">
                  <label>Usernama</label>
                  <input type="text" class="form-control" placeholder="Masukkan usernama" required="" name="username"> </div>
                <div class="form-group">
                  <label>Kata Sandi</label>
                  <input type="password" class="form-control" placeholder="Masukkan kata sandi" name="password"> </div>
                <button type="submit" class="btn btn-secondary">Masuk</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}