{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block head_css_after %}
    <title>Buat Polling Berita - BMNC</title>
{% endblock %}

{% block content %}
  <div class="py-5" style="background-image: url({% static "general/bg-regis.jpg" %});">
    <div class="container">
      <i>
        {% for message in messages %}
        <label style="position:relative; right:0px; text-align: right; display: block;" class="text-danger">
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
          {{ message }}
        </label><br>
        {% endfor %}
      </i>
      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'polling_berita:polling_berita' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label>Url Berita</label>
              <input type="url" name = "url" class="form-control" placeholder="url berita"> </div>
            <div class="form-group">
              <label>Waktu Mulai</label>
              <input type="date" name="mulai" class="form-control"> </div>
            <div class="form-group">
              <label>Waktu Selesai</label>
              <input type="date" name="selesai" class="form-control"> </div>
            <div class="form-group">
              <label>Apakah berita ini menarik?</label>
              <input type="text" name="pertanyaan" class="form-control" placeholder="pertanyaan"> </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}