{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head_css_before %} {% endblock %}
  <link rel="stylesheet" href="{% static "/general/font-awesome/css/fontawesome-all.min.css" %}">
  <link rel="stylesheet" href="{% static "/general/theme.css" %}">
  {% block head_css_after %} {% endblock %}
</head>
<body>
    <header>
        {% include "general/partials/header.html" %}
    </header>
    <content>
       {% block content %}
       {% endblock %}
    </content>
    <footer>
       {% block footer %}
       {% include "general/partials/footer.html" %}
       {% endblock %}
    </footer>
  <script src="{% static "/general/js/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "/general/js/popper.min.js" %}"></script>
  <script src="{% static "/general/js/bootstrap.min.js" %}"></script>
   {% block javascript %}
   {% endblock %}
</body>
</html>