{% load staticfiles %}
{% load static %}
<div class="bg-dark text-white">
<div class="container">
  <div class="row">
    <div class="p-4 col-md-6">
      <div class="col-md-12">
        <img class="img-fluid d-block" src="{% static "/general/BMNC Logo.svg" %}" width="120pt"> </div>
      <div class="row"> </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="">
            <a href="{% url 'beranda:index' %}"" class="text-white">Beranda</a>
            <br>
            <a href="#" class="text-white">Tentang Kami</a>
            <br>
            <a href="#" class="text-white">Layanan</a>
            <br> </ul>
        </div>
      </div>
    </div>
    <div class="p-4 col-md-6">
      <h2 class="mb-4">Kontak</h2>
      <p>
        <a href="tel:+62 840 0840 0840" class="text-white">
          <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+62 840 0840 0840</a>
      </p>
      <p>
        <a href="mailto:info@bmnc12.com" class="text-white">
          <i class="fa d-inline mr-3 text-secondary fa-envelope"></i>info@bmnc12.com</a>
      </p>
      <p>
        <a href="https://goo.gl/maps/MPqj51wBQSo" class="text-white" target="_blank">
          <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>Fakultas Ilmu Komputer, Universitas Indonesia </a>
        <br> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-center text-white">Hak Cipta © 2018 BMNC12 dilindungi undang-undang. </p>
    </div>
  </div>
</div>
</div>