/*!
* Based on Bootstrap v4.0.0 (https://getbootstrap.com) 
*/
 
// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #1AC191,
  secondary: #156aaf,
  light: #f9f9f9,
  dark: #151515,
  info: #eee,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545,
);

$body-bg: white;
$body-color: #333;


$body-color-inverse: invert($body-color) !default;
$link-color: #1AC191;


// Fonts
$font-family-base: Georgia, serif;


$headings-font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

$display-font-family: $font-family-base;
$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size:   1.30rem;

$spacer: 1.5rem;



@import 'bootstrap-4.0.0';

html,body {
   height:100%;
}

.cover {
	min-height:100%;
  display:flex;
  align-items:center
}


.bg-gradient {
  overflow: hidden;
  color: color-yiq(map-get($theme-colors, 'primary'));
  background: linear-gradient(-30deg, theme-color("secondary") 0%, theme-color("primary") 50%, theme-color("primary") 100%);
}

.filter-dark {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'dark'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'dark'), 0.75);
  }
}

.filter-light {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'light'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'light'),0.75);
  }
}

.filter-color {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'primary'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: rgba(map-get($theme-colors, 'primary'), 0.75);
  }
}

.filter-gradient {
  overflow: hidden;
  position: relative;
  color: color-yiq(map-get($theme-colors, 'primary'));
	&:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(-30deg, transparentize(theme-color("secondary"), 0.1) 0%, transparentize(theme-color("primary"), 0.1) 50%, transparentize(theme-color("primary"), 0.05) 100%);
  }
}

.filter-fade-in {
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    content: ' ';
    background: linear-gradient($body-bg, transparentize($body-bg, 0.2),transparentize($body-bg, 0.9),transparentize($body-bg, 1));
	}
}

#login-card {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

#regis-subheader {
  color: #000000;
}

.card-header {
  font-size: 20pt;
  font-family: "Palatino Linotype";
  color: white;
  background-color: theme-color("primary");
}

.list-group-item:hover {
  background-color: white;
}

/*
.btn-bmnc:hover {
  transition-timing-function: ease;
  -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
	background-color: #17aa80;
}*/
.nav-item {
  margin:10px;
}

.nav-item > a {
  color: #fff;
}


.nav-item > .dropdown-menu {
  background-color: #1AC191;
}
/*
.nav-item:hover {
  transition-timing-function: ease;
  -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
	background-color: #17aa80;
}*/


.nav-link {
  fill:rgba(255,255,255,0.8);
  color:rgba(255,255,255,0.8) !important;
}

.nav-link:hover {
  fill:rgba(255,255,255,0.95);
  color:rgba(255,255,255,0.95) !important;
}