{% extends "general/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block head_css_after %}
    <link rel="stylesheet" href="{% static "/personal-profile/style.css" %}">
    <title>Personal Profile - BMNC</title>
{% endblock %}

{% block content %}
        <div class="py-5" style="background-image: url({% static "general/bg-regis.jpg" %});">
            <div class="container2">
                <div class="content">
                    <div class=name-section>
                        <div class="name-holder horizontal">
                            {{ nama }}
                        </div>
                        <div class="username-holder horizontal">
                            ({{ username }})
                        </div>
                        <div class="email-holder">
                            Email: {{ email }}
                        </div>
                    </div>
                    <br/>
                    <div class="profile-holder">
                        <div class=profile-item1>
                            Jabatan: <br/>
                            Nomor Identitas (NPM): <br/>
                            Tempat Lahir: <br/>
                        </div>
                        <div class=profile-data1>
                            {{ jabatan }} <br/>
                            {{ npm }} <br/>
                            {{ tempat }} <br/>
                        </div>
                        <div class=profile-item2>
                            Tanggal Lahir: <br/>
                            Nomer HP: <br/>
                            Status Kemahasiswaan: <br/>
                        </div>
                        <div class=profile-data2>
                            {{ tanggal }} <br/>
                            {{ no_hp }} <br/>
                            {{ status }} <br/>
                        </div>
                    </div>
                    <br/>
                    <button type="button" class="daftar-artikel" href="#">Daftar Artikel</button>
                </div>
            </div>
        </div>
{% endblock %}
